{% extends "base.html" %}

{% block content-title %} Boundary Firewalls{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                of production environment
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>name</th>
                            <th>description</th>
                            <th style="width:120px">Operation</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for entry in TableData %}
                            <tr class="odd gradeC">
                                <td>{{ entry.name }}</td>
                                <td>{{ entry.description }}</td>
                                <td>
                                    <div class="text-center">
                                        <a type="button" class="btn btn-success" href="{% url 'fw_rule_list' entry.uuid %}">Edit</a>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
                <div class="row">
                    <h1></h1><!-- temporal blank space -->
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
{% endblock %}

{% block scripts %}
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
    </script>
{% endblock %}

