{% extends "base.html" %}

{% block content-title %}Hypervisor Detail  :  {{ hostname }}{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                Hypervisor Info
            </div>

            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Usage</th>
                            <th>Reserved for HA</th>
                            <th>CPU Usage [Core]</th>
                            <th>Memory Usage [GB]</th>
                            <th>Localdisk Usage [GB]</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="odd gradeC">
                            <td>{{ Hypervisor.vCenterCluster.usage}}</td>
                            <td>{{ Hypervisor.reserved }}</td>
                            <td>
                                <div class="progress-bar progress-bar-success" role="progressbar"
                                     aria-valuemin="0" aria-valuemax=100 style="width: {{ Hypervisor.utils.cpu }}%;min-width: 2em">
                                    {{ Hypervisor.utils.cpu_num }}/{{ Hypervisor.cpu_core_num_for_vm }}
                                </div>
                            </td>
                            <td>
                                <div class="progress-bar progress-bar-warning" role="progressbar"
                                     aria-valuemin="0" aria-valuemax="100" style="width: {{ Hypervisor.utils.mem }}%;min-width: 2em">
                                    {{ Hypervisor.utils.mem_num }}/{{ Hypervisor.memory_capacity_for_vm }}
                                </div>
                            </td>
                            <td>
                                <div class="progress-bar progress-bar-danger" role="progressbar"
                                     aria-valuemin="0" aria-valuemax="100" style="width: {{ Hypervisor.utils.hdd }}%;min-width: 2em">
                                    {{ Hypervisor.utils.hdd_num }}/{{ Hypervisor.hdd_capacity_for_vm }}
                                </div>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>

            <div class="panel-heading">
                Rack and Datacenter Info
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Rack Name</th>
                            <th>Rack Position</th>
                            <th>Usage</th>
                            <th>DC Name</th>
                            <th>Cluster Name</th>
                            <th>Reserved for HA</th>
                        </tr>
                        </thead>
                        <tbody>


                        <tr class="odd gradeC">
                            <td>{{ Hypervisor.PhysicalServer.rack.name }}</td>
                            <td>{{ Hypervisor.PhysicalServer.rack_unit_start }}
                                - {{ Hypervisor.PhysicalServer.rack_unit_end }}</td>
                            <td>{{ Hypervisor.vCenterCluster.usage }}</td>
                            <td>{{ Hypervisor.vCenterCluster.DataCenter.name }}</td>
                            <td>{{ Hypervisor.vCenterCluster.name }}</td>
                            <td>{{ Hypervisor.reserved }}</td>
                        </tr>


                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>

            <div class="panel-heading">
                Physical Server Info
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Server Serial</th>
                            <th>Product Name</th>
                            <th>CPU [Cores]</th>
                            <th>Memory [GB]</th>
                            <th>Local Disk [GB]</th>
                        </tr>
                        </thead>
                        <tbody>


                        <tr class="odd gradeC">
                            <td>{{ Hypervisor.PhysicalServer.serial }}</td>
                            <td>{{ Hypervisor.PhysicalServer.product }}</td>
                            <td>{{ Hypervisor.PhysicalServer.cpu_core_num}}</td>
                            <td>{{ Hypervisor.PhysicalServer.memory_capacity }}</td>
                            <td>{{ Hypervisor.PhysicalServer.hdd_capacity }}</td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->

            <div class="panel-heading">
                Virtual Machines on this Host
            </div>
            <!-- /.panel-heading -->

            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>name</th>
                            <th>usage</th>
                            <th>OS</th>
                            <th>CPU Cores</th>
                            <th>Memory [GB]</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for vm in VMs %}
                            <tr class="odd gradeC">
                                <td><a href="{% url 'vm_detail' vm.name %}">{{ vm.name }}</a></td>
                                <td>{{ vm.usage }}</td>
                                <td>{{ vm.os }}</td>
                                <td>{{ vm.cpu }}</td>
                                <td>{{ vm.memory }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
                <div class="well">
                    <h4>DataTables Usage Information</h4>
                    <p>DataTables is a very flexible, advanced tables plugin for jQuery. In SB Admin, we are using a specialized version of DataTables built for Bootstrap 3. We have also customized the table headings to use Font Awesome icons in place of images. For complete documentation on DataTables, visit their website at <a target="_blank" href="https://datatables.net/">https://datatables.net/</a>.</p>
                    <a class="btn btn-default btn-lg btn-block" target="_blank" href="https://datatables.net/">View DataTables Documentation</a>
                </div>
            </div>
            <!-- /.panel-body -->

            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
{% endblock %}